:root {
  --background: #f2e4d8;
  --foreground: #8c6c65;
  --accent: #d9a577;
  --square-size: 90vh;
}

@media (orientation: portrait) {
  :root {
    --square-size: 90vw;
  }
}

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0%;
  overflow: auto;

  /*background-image: url('/background.jpg');*/
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;

  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
  font-family: inherit;
}

/* Header */
header {
  position: sticky;
  width: 100%;
  height: fit-content;
  max-height: 20vh;
  display: flex;
  flex-direction: row;
  place-content: center;
}

.logo {
  border-radius: 50%;
  width: 200px;
  margin: 10px;
}

/* Main page */
main {
  max-height: 80vh;
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-self: flex-end;
  flex: 1;
}

.hat {
  width: 50px;
  padding: 25px;
  align-self: baseline;
}

/*New*/
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  max-width: 90vw;
  max-height: 60vh;
  overflow: auto;
  border: 5px solid var(--foreground);
  border-radius: 10px;
  background-color: var(--background);
  box-shadow: 0px 0px 6px 1px var(--foreground);
}

.form-head {
  position: sticky;
  box-sizing: border-box;
  border-radius: 5px 5px 0px 0px;
  background-color: var(--accent);
  width: 100%;
  padding: 2px;
}

form p {
  padding: 20px 15px 15px;
  margin: 0px;
  height: fit-content;
  font-size: medium;
  text-align: center;
}

.tabs {
  justify-self: end;
  width: 100%;
  display: flex;
  width: 100%;
  height: auto;
  align-items: flex-end;
  justify-content: space-around;
}

.tab {
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--foreground);
  background-color: inherit;
  flex-basis: 100%;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  margin: 0px 15px;
  padding: 5px 0px;
  border: none;
}

.form-main {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--foreground) transparent;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  width: 100%;
  max-height: 80vh;
}

.check-border {
  margin: 5px;
}

.check-border :hover {
  cursor: pointer;
  box-shadow: 0px 0px 3px 3px var(--accent);
}

.check-container {
  border-radius: 5px;
  width: fit-content;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.check-label {
  padding: 5px;
}

.check-container :hover {
  box-shadow: none;
}

.check {
  margin: 5px;
  accent-color: var(--accent);
}

.form-foot {
  box-sizing: border-box;
  width: 100%;
  border-radius: 0px 0px 5px 5px;
  background-color: var(--accent);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  font-size: large;
  padding: 5px;
  margin: 15px;
  background-color: var(--foreground);
  border: none;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px var(--background);
  z-index: 2;
}

.button:hover {
  background-color: #8c6c65;
}

iframe {
  height: 100vh;
  width: 100vw;
}

img {
  position: absolute;
  z-index: 1;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.player-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.loader-container {
  align-self: center;
  place-self: center;
  height: 25px;
  width: 100px;
}

.loader {
  aspect-ratio: 4;
  --_g: no-repeat
    radial-gradient(circle closest-side, var(--background) 90%, transparent);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 100%;
  animation: l7 1s infinite linear;
}
@keyframes l7 {
  33% {
    background-size: calc(100% / 3) 0%, calc(100% / 3) 100%, calc(100% / 3) 100%;
  }
  50% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 0%, calc(100% / 3) 100%;
  }
  66% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 0%;
  }
}
